.nav {
  margin: 0 !important;
}

.nav-link {
  color: #20ec66;
  text-transform: capitalize;
  font-weight: bold;
}

.background-jumbotron {
  margin: 0;
  padding: 0;
  background: url("../images/landingadventure.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 550px;
  color: white;
  border-radius: 0;
}

.jumbotron{
  margin: 0;
  padding: 0;
  height: 67vh;
}

.icon-bw {
  width: 60px;
}

.icons {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-img {
  margin-bottom: 27px;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-bw {
  width: 77px;
}

.container{
  /* border: 1px solid red; */
}

.col {
  margin: 25px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

#carouselExampleIndicators .carousel-inner img {
  height: 600px;
  width: 1100px;
  filter: grayscale(60%);
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
}
